@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Pacifico&family=Rancho&family=Shrikhand&display=swap');




.modal-container {
    z-index: 2;
    visibility: hidden;
    position: fixed;
    width: 100vw;
    height: 100vh;



    .overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(51, 51, 51, 0.75);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }

    .modal {

        @include pos-center(50%, 45%);

        width: 90%;
        max-width: 900px;
        min-width: 300px;
        @include rounded(10px);
        padding: 10px 20px;
        background-color: #f1f1f1;
        color: #333;
        border: 1px solid #333;
        box-shadow: 4px 4px 10px #030303c0;


        .modal-header {
            display: flex;
            justify-content: space-between;
            padding: 2px 16px;



            h3 {
                font-size: 3rem;
                width: 100%;

            }



            .close {
                position: absolute;
                top: 10px;
                right: 10px;
                display: grid;
                place-items: center;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: black;
                font-size: 30px;
                font-weight: bold;
                color: white;
                cursor: pointer;
            }
        }

        .modal-body {
            padding: 20px 0;
        }
    }
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: 30%;
        opacity: 0
    }

    to {
        top: 45%;
        opacity: 1
    }
}


.modal-container.active {
    visibility: visible;
}

.modal-container.active .modal {
    animation: animatetop 300ms ease-in-out;
}


// .modal-container:not(.active) {
//     animation: animatetop 300ms ease-in-out;

// }


.card_container {
    max-width: 1000px;
    margin-inline: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-row: repeat(3, 400px);
    text-align: center;
    grid-auto-flow: row;
    gap: 10px;
}

.card {
    margin: auto;
    width: 100%;
    height: 300px;
    background-color: red;
    overflow: hidden;
    cursor: pointer;

    img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        transition: transform 300ms ease-in-out;
    }
}

.card:hover img {
    transform: scale(1.1);
}