@font-face {
    font-family: Coolvetica;
    src: url(/Ressources/Fonts/Coolvetica-FontZillion/coolvetica\ rg.ttf);
}


body {
    color: $white;
}

a {
    text-decoration: none;
}

.title {
    font-size: clamp(2rem, 4vw, 5rem);
    margin-left: 5vh;
    font-family: Coolvetica, sans-serif;

}

h2 {
    font-size: clamp(1.5rem, 5vw, 5rem);
    margin: 20px 0;
    padding: 0;
    font-family: Coolvetica, sans-serif;
}